.gdprNotice {
	position: fixed;
	bottom: 0px;
	width: 100%;

	text-align: center;

	padding: 2px;
	background-color: #1d506d;
	color: white;
	font-family: 'Open Sans', sans-serif;
	font-weight: 400;
}
.gdprNotice a {
	text-decoration: none;
	color: rgb(255, 255, 255);
}
.gdprNotice a:hover {
	color: rgb(180, 180, 180);
	cursor: pointer;
}
.dismiss {
	color: rgb(255, 255, 255);
}
.dismiss:hover {
	color: rgb(180, 180, 180);
	cursor: pointer;
}
.hidden {
	display: none;
}
