main {
	height: 100%;
	padding: 15px;
}

.lobbyContainer {
	display: grid;

	grid-template-columns: 1fr 1fr;
	grid-template-rows: 100px 1fr;
	row-gap: 30px;
	column-gap: 30px;
}
.welcomeHeader {
	grid-column: 1 / span 2;
	grid-row: 1 / span 1;

	text-align: center;

	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	color: #1d506d;
}
