#roomList {
	margin-left: 2%;
	width: 50%;
	border: 1px solid black;
}

#roomList h1 {
	text-align: center;
}

.room {
	border-top: 1px solid black;
}

.room p,
.room input,
.formIcon {
	display: inline-block;
	margin-right: 2%;
}

#privateJoin {
	display: none;
}

.formIcon {
	width: 30px;
	height: 30px;
	margin-top: 1.5%;
}
