#roomList {
	width: 100%;
	height: 500px;
	background-color: #1d506d;
	overflow-y: scroll;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
}

#roomList h1 {
	text-align: center;
	color: white;
}

.room {
	border-top: 3px solid rgb(190, 190, 190);
	height: auto;
	padding: 10px;

	display: flex;
	justify-content: space-between;
	font-weight: 400;
	font-size: 20px;
}
.room div {
	display: flex;
	align-content: center;
}

.room p,
.room input,
.formIcon {
	color: white;
	display: inline;
	margin: 0 15px;
}
.room input {
	color: black;
	width: 60px;
	height: 30px;
	border-radius: 40px;
	border-style: none;
}

.room input:hover {
	cursor: pointer;
	background-color: rgb(158, 158, 158);
	color: white;
}
#privateJoin {
	display: none;
	padding-bottom: 20px;
	justify-content: center;
	flex-wrap: wrap;
}

#privateJoin input {
	width: 250px;
	height: 30px;
	border-radius: 50px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 700;
	font-size: 15px;
	border: 2px solid #1d506d;
	color: #1d506d;
}

#privateJoin input[type='text'] {
	padding-left: 15px;
	margin-right: 30px;
}

#privateJoin input[type='submit'] {
	color: black;
	width: 60px;
	height: 30px;
	border-radius: 40px;
	border-style: none;
	font-weight: 400;
	text-align: center;
	font-size: 14px;
}

#privateJoin input[type='submit']:hover {
	cursor: pointer;
	background-color: rgb(158, 158, 158);
	color: white;
}

#privateJoin p {
	flex-basis: 100%;
	text-align: center;
	margin-bottom: 0;
	padding-bottom: 0;
}

.formIcon {
	height: 30px;
}

#error {
	display: none;
	color: red;
}
